<div class="componente-7">

    <div class="outer-box">

        <div class="content-hamburger">
            <div class="hamburger">
                <div class="item-a"></div>
                <div class="item-b"></div>
                <div class="item-c"></div>
            </div>
        </div>

        <h2>Hello World</h2>
        <p>Bem vindo ao canal dev net core, aqui voce tem conteudo de qualidade.
            Bem vindo ao canal dev net core, aqui voce tem conteudo de qualidade
            Bem vindo ao canal dev net core, aqui voce tem conteudo de qualidade  </p>

        <div class="box"></div>
    </div>
</div>