<div class="componente-9">

    <div class="wrapper">
        <div class="box">
            <div>
                <label>Label</label>
            </div>
            <div>
                <input type="text"/>
            </div>
        </div>
        <div class="box">
            <div>
                <label>Label</label>
            </div>
            <div>
                <input type="text"/>
            </div>
        </div>
        <div class="box">
            <div>
                <label>Label</label>
            </div>
            <div>
                <input type="text"/>
            </div>
        </div>

    </div>

    <div class="wrapper">
        
            <div class="box">
                <div>
                    <label>Label</label>
                </div>
                <div>
                    <input type="number"/>
                </div>
            </div>

            <div class="box">
                <div>
                    <label>Label</label>
                </div>
                <div>
                    <input type="date"/>
                </div>
            </div>

            <div class="box">
                <div>
                    <label>Label</label>
                </div>
                <div>
                    <input type="checkbox"/>
                </div>
            </div>
       
    </div>

    <div class="wrapper">
        <div class="box">
            <div>
                <label>Label</label>
            </div>
            <div>
                <input type="color"/>
            </div>
        </div>

        <div class="box">
            <div>
                <label>Label</label>
            </div>
            <div>
                <input type="range"/>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="box">
           
            <div>
                <input type="submit"/>
            </div>
        </div>

       
    </div>

</div>