<div class="container">
    <section>
        <h1>Sua Equipe</h1>

        <div class="avatars">

            <img class="avatar"  src="../../../assets/valdir.jpeg" alt="Foto">
            <img class="avatar"  src="../../../assets/valdir.jpeg" alt="Foto">
            <img class="avatar" src="https://i.pravatar.cc/200?img=41" alt="">
            <img class="avatar" src="https://i.pravatar.cc/200?img=21" alt="">
            <img class="avatar" src="https://i.pravatar.cc/200?img=12" alt="">
            <img class="avatar"  src="../../../assets/valdir.jpeg" alt="Foto">
            <img class="avatar"  src="../../../assets/valdir.jpeg" alt="Foto">
            <img class="avatar" src="https://i.pravatar.cc/200?img=41" alt="">
            <img class="avatar" src="https://i.pravatar.cc/200?img=21" alt="">
            <img class="avatar" src="https://i.pravatar.cc/200?img=12" alt="">
        </div>

    </section>
</div>
