<div class="componente-12">

    <div>
        <div class="chat">
            <div class="name">
                Lorem, ipsum.
            </div>

            <div class="comment">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia molestiae illum hic, commodi
                earum ipsum.
            </div>
        </div>
        <div class="chat">
            <div class="name">
                Lorem, ipsum.
            </div>

            <div class="comment">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia molestiae illum hic, commodi
                earum ipsum.
            </div>
        </div>
        <div class="chat">
            <div class="name">
                Lorem, ipsum.
            </div>

            <div class="comment">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia molestiae illum hic, commodi
                earum ipsum.
            </div>
        </div>
        <div class="chat">
            <div class="name">
                Lorem, ipsum.
            </div>

            <div class="comment">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia molestiae illum hic, commodi
                earum ipsum.
            </div>
        </div>
        <div class="chat">
            <div class="name">
                Lorem, ipsum.
            </div>

            <div class="comment">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia molestiae illum hic, commodi
                earum ipsum.
            </div>
        </div>
    </div>

</div>