<div class="componente-6">
    <div class="featured-products">
        <div class="product">
            <img src="#" alt="Dev Net Core" class="logo">
            <div class="product_info">
                <h2>Titulo Principal</h2>
                <p>Somente um sub qualquer para demonstrar</p>
                <div class="product_options">

                    <div class="product_tag">
                        Opcao 1
                    </div>

                    <div class="product_tag">
                        Opcao 2
                    </div>
                </div>
            </div>

        </div>
        <div class="product">
            <img src="#" alt="Dev Net Core" class="logo">
            <div class="product_info">
                <h2>Titulo Principal</h2>
                <p>Somente um sub qualquer para demonstrar</p>
                <div class="product_options">

                    <div class="product_tag">
                        Opcao 1
                    </div>

                    <div class="product_tag">
                        Opcao 2
                    </div>
                </div>
            </div>

        </div>
        <div class="product">
            <img src="#" alt="Dev Net Core" class="logo">
            <div class="product_info">
                <h2>Titulo Principal</h2>
                <p>Somente um sub qualquer para demonstrar</p>
                <div class="product_options">

                    <div class="product_tag">
                        Opcao 1
                    </div>

                    <div class="product_tag">
                        Opcao 2
                    </div>
                </div>
            </div>

        </div>
        <div class="product">
            <img src="#" alt="Dev Net Core" class="logo">
            <div class="product_info">
                <h2>Titulo Principal</h2>
                <p>Somente um sub qualquer para demonstrar</p>
                <div class="product_options">

                    <div class="product_tag">
                        Opcao 1
                    </div>

                    <div class="product_tag">
                        Opcao 2
                    </div>
                </div>
            </div>

        </div>
        <div class="product">
            <img src="#" alt="Dev Net Core" class="logo">
            <div class="product_info">
                <h2>Titulo Principal</h2>
                <p>Somente um sub qualquer para demonstrar</p>
                <div class="product_options">

                    <div class="product_tag">
                        Opcao 1
                    </div>

                    <div class="product_tag">
                        Opcao 2
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>