<div class="container-drag">
    <div class="drag-zone top" draggable="true" (dragstart)="onDragStart($event,'top')" (dragover)="onDragOver($event)"
        (drop)="onDrop($event,'top')" (dragleave)="onDragLeave($event)">
        <div *ngIf="itemSelect === 'top'" draggable="true" (dragstart)="onDragStart($event,'top')"
            (dragover)="onDragOver($event)" (drop)="onDrop($event,'top')" (dragleave)="onDragLeave($event)">
            <div class="sidebar sidebar-hor">
                <div class="icone-hand-move-horizontal"></div>

                <div class="menu-item">
                    <div class="icone pessoas"></div>
                </div>
                <div class="menu-item">
                    <div class="icone documento_1"></div>
                </div>
                <div class="menu-item">
                    <div class="icone documento_check"></div>
                </div>
                <div class="menu-item">
                    <div class="icone adicionar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="drag-zone left" draggable="true" (dragstart)="onDragStart($event,'left')"
        (dragover)="onDragOver($event)" (drop)="onDrop($event,'left')" (dragleave)="onDragLeave($event)">
        <div *ngIf="itemSelect === 'left'" draggable="true" (dragstart)="onDragStart($event,'left')"
            (dragover)="onDragOver($event)" (drop)="onDrop($event,'left')" (dragleave)="onDragLeave($event)">
            <div class="sidebar">
                <div class="icone-hand-move"></div>

                <div class="menu-item">
                    <div class="icone pessoas"></div>
                </div>
                <div class="menu-item">
                    <div class="icone documento_1"></div>
                </div>
                <div class="menu-item">
                    <div class="icone documento_check"></div>
                </div>
                <div class="menu-item">
                    <div class="icone adicionar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="drag-zone right" draggable="true" (dragstart)="onDragStart($event,'right')"
        (dragover)="onDragOver($event)" (drop)="onDrop($event,'right')" (dragleave)="onDragLeave($event)">

        <div *ngIf="itemSelect === 'right'" (dragstart)="onDragStart($event,'right')" (dragover)="onDragOver($event)"
            (drop)="onDrop($event,'right')" (dragleave)="onDragLeave($event)">
            <div class="sidebar">
                <div class="icone-hand-move"></div>

                <div class="menu-item">
                    <div class="icone pessoas"></div>
                </div>
                <div class="menu-item">
                    <div class="icone documento_1"></div>
                </div>
                <div class="menu-item">
                    <div class="icone documento_check"></div>
                </div>
                <div class="menu-item">
                    <div class="icone adicionar"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="drag-zone bottom" draggable="true" (dragstart)="onDragStart($event,'bottom')" (dragover)="onDragOver($event)"
        (drop)="onDrop($event,'bottom')" (dragleave)="onDragLeave($event)">
        <div *ngIf="itemSelect === 'bottom'" draggable="true" (dragstart)="onDragStart($event,'bottom')" (dragover)="onDragOver($event)"
            (drop)="onDrop($event,'bottom')" (dragleave)="onDragLeave($event)">
            <div class="sidebar sidebar-hor">
                <div class="icone-hand-move-horizontal"></div>

                <div class="menu-item">
                    <div class="icone pessoas"></div>
                </div>
                <div class="menu-item">
                    <div class="icone documento_1"></div>
                </div>
                <div class="menu-item">
                    <div class="icone documento_check"></div>
                </div>
                <div class="menu-item">
                    <div class="icone adicionar"></div>
                </div>
            </div>
        </div>
    </div>
</div>