.container-drag {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    pointer-events: none; /* Desativa pointer events na container-drag */
  }
  
  .container-drag > * {
    pointer-events: auto; /* Ativa pointer events nos elementos filhos */
  }
  
  .drag-zone {
    pointer-events: none; /* Desativa pointer events na container-drag */
    width: 47px;
    height: 100%;
    margin: 5px;
    text-align: center;
    // background-color: lightgray;
    // border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    //  background-color: lightgray;
  }
  
  .top {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    // width: 140px;
    height: 60px;
    width: 100%;
  }
  
  .left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100%;
    padding-left: 52px;
  }
  
  .right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 100%;
    padding-right: 52px;
  }
  
  .bottom {
    width: 100%;
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    z-index: 99999;
    padding-bottom: 44px;
  }
  
  .drag-zone.dragging {
    opacity: 0.5;
  }
  
  .drag-zone.over {
    border: 1px solid #aabdd9;
    border-style: dotted;
    background: #aabdd933;
  }
  

  .menu-item,
.menu-item-hr {
  width: 36px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease; /* Adiciona uma transição suave */
}

.menu-item:hover,
.menu-item-hr:hover {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra no hover */
  border-radius: 10px;
}

.menu-item-hr {
  border-radius: 0px;
  border-top: 1px solid #999;
  height: 34px;
}

.menu-item img {
  width: 24px;
  height: 24px;
}

// .menu-item.active {
//   // background-color: #e3e8ff;
// }

hr {
  width: 38px;
  border: none;
  border-top: 1px solid #838383;
  margin: 2px 0;
}

.icone-hand-move {
  background-image: url("../../../assets/Dots.svg") !important;
  background-repeat: no-repeat !important;
  cursor: move !important;
  height: 18px;
  width: 47px;

  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 10px;
  border-radius: 10px;
}

.icone-hand-move-horizontal {
    background-image: url("../../../assets/Dots.svg") !important;
  background-repeat: no-repeat !important;
  cursor: move !important;
  height: 18px;
  width: 33px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 14px;
  transform: rotate(90deg) !important;
}







.icone
 {
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    color: #1b212d;
   // transform: scale(1);
  
    // padding-left: 44px;
    
}

.icone.adicionar {
    background-image: url("../../../assets/adicionar.svg");
}
.icone.pessoas {
    background-image: url("../../../assets/pessoas.svg");
}

.icone.document_1 {
    background-image: url("../../../assets/document_1.svg");
}

.icone.document_check {
    background-image: url("../../../assets/document_check.svg");
}


.sidebar {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background-color: #c8c8c8;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }
  
  .sidebar-hor {
    flex-direction: row !important;
    .horizontal-hr {
      transform: rotate(90deg) !important;
      width: 38px;
    }
  }