.container-drag {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    pointer-events: none;
}

.container-drag>* {
    pointer-events: auto;
}

.drag-zone {
    pointer-events: none;
    width: 47px;
    height: 100%;
    margin: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999ß;
}


.drag-zone.dragging {
    opacity: 0.5;
}

.drag-zone.over {
    border: 1px solid #aabdd9;
    border-style: dotted;
    background: #aabdd933;
}


.top {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 100%;
   
}

.left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100%;
    padding-left: 52px;
  
}

.right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 100%;
    padding-right: 52px;
   
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    z-index: 99999;
    padding-bottom: 44px;
   
}

.sidebar {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

}

.sidebar-hor {
    flex-direction: row !important;

}

.menu-item {
    width: 36px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.menu-item:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra no hover */
    border-radius: 10px;
    background: rgba(0, 0, 255, 0.192);
}


.icone {
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    color: #1b212d;
}

.icone.pessoas {
    background-image: url("../../../assets/pessoas.svg");
}

.icone.adicionar {
    background-image: url("../../../assets/adicionar.svg");
}

.icone.documento_1 {
    background-image: url("../../../assets/document_1.svg");
}

.icone.documento_check {
    background-image: url("../../../assets/document_check.svg");
}

.icone-hand-move {
    background-image: url("../../../assets/Dots.svg");
    background-repeat: no-repeat;
    cursor: move;
    height: 18px;
    width: 47px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.icone-hand-move-horizontal {
    background-image: url("../../../assets/Dots.svg");
    background-repeat: no-repeat;
    cursor: move;
    height: 18px;
    width: 33px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: rotate(90deg);
    margin-bottom: 14px;
}