.componente-11 {

    .btn {
        padding: 1em 3em;
        border-radius: 1em;
        background: white;
        border: 1px solid currentColor;
        cursor: pointer;
        box-shadow: 0 0 25px -10px currentColor;
        transition: transform 125ms ease-in-out;
    }

    .btn:hover,
    .btn:focus {
        transform: scale(1.2);
    }


    .btn + .btn{
        margin-left: 1em;    
        margin-top: 1em;    
    }


    .btn-red
    {
        color: red;
    }

    .btn-teal
    {
        color: teal;
    }

    .btn-green
    {
        color:green;
    }

    .btn-orange
    {
        color: orange;
    }


}